body{
    background-image: url("img/tlo.png");
    margin: 0px; 
    font-family: 'Courier New', Courier, monospace ;
    font-size: 20px;
}

#logo{
    width: 100%;
    text-align: center;
    background-color: rgb(187, 22, 22);
    font-size: 70px;
    padding: 5px 0px 5px 0px;
    letter-spacing: 5px;
    color:  black;
    text-shadow: 
        7px 2px 0,
        2px 2px 0,
        2px -2px 0,
        2px -2px 0;
}

#main_container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    width: 1192px;
    padding: 20px;
    border-top: 4px solid rgb(163, 4, 4);
    border-left: 4px solid rgb(163, 4, 4);
    border-right: 4px solid rgb(163, 4, 4);
    border-bottom: 4px solid rgb(163, 4, 4);
 
}

#spis_tre{
    width: 960px;
}

ol{
    margin-top: 5px;
}